 {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif;
    padding: 30px;
    background: #FFEAEF  ;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 75px;
    color: #EF4387;
    font-family: Tahoma, sans-serif;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #EF4387  ;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #FFEAEF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #FFCAE0    ;
    color: #EF4387;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 70%;
    background-color: #FFEAEF;
}

/* Right column */
.rightcolumn {
    float: right;
    width: 25%;
    background-color: #FFEAEF;
    padding-left: 20px;
}



/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: white;
    margin-top: 20px;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
    
}

