<html>
  <title>SocietyShe WELLNESS</title>
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div class="header">
  <img src= "https://i.pinimg.com/564x/53/be/d7/53bed7fb798c4145870eb31cc50418a6.jpg" height = "300" style = float />
  <p><h4>A safe hub for women- about you, for you, and by you.</h4></p>
  <p><h2>Wellness</h2></p>
</div>

<div class="topnav">
 <a href="/index" style="float:center">HOME</a>
 <a href="/you" style="float:center">YOU</a>
 <a href="/wellness" style="float:center">WELLNESS</a>
 <a href="/connect" style="float:center">CONNECT</a>
 <a href="/donate" style="float:center">DONATE</a>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Girls on the Run</h2>
      <h5>Getting fit with a supportive, like-minded girl gang!</h5>
      <a href="https://www.girlsontherun.org"><img src="https://229hkg2lw84tezus91ay33k2-wpengine.netdna-ssl.com/wp-content/uploads/2017/12/Girls-on-the-run_2.jpg" class="center" /></a>
      <p>Click the image to check it out! </p>
      <p>"We envision a world where every girl knows and activates her limitless potential and is free to boldly pursue her dreams." That is the mission statement of this nationwide organization that inspires girls to be fit, free, and happy through group races and runs...</p>
    </div>
    
     <div class="card">
      <h2>Body Positivity</h2>
      <h5>Byrdie discusses loving yourself</h5></h5>
      <a href="https://thethirty.byrdie.com/body-confidence--5b4f83e48eb4a"><img src="https://slack-imgs.com/?c=1&url=https%3A%2F%2Fi.pinimg.com%2F564x%2F99%2F1c%2F79%2F991c7938bc4d81778a4170ca0a9c95c9.jpg" class="center" /></a>
      <p>Click the image to view the article!</p>
      <p>Different women talk about the times when they truely felt comfortable in their own skin.</p>
    </div>
    
    <div class="card">
      <h2>Body Positivity</h2>
      <h5>Making something beautiul out of tragedy</h5></h5>
      <a href="https://thethirty.byrdie.com/chronic-illness-body-image--5b4f4db4787c2"><img src="https://i.pinimg.com/564x/31/b3/26/31b326dafa59bf97092951714a140a14.jpg" class="center" /></a>
      <p>Click the image to view the article!</p>
      <p>Women with chronic illnesses discuss how they started to see themselves.</p>
    </div>
    
    <div class="card">
      <h2>Kode with Klossy</h2>
      <h5>Learn to code in a classroom setting created by Karlie Kloss!</h5>
      <a href="https://www.kodewithklossy.com"><img src="https://i.amz.mshcdn.com/IayoG_T-Yzmb1I7ELBJIEOt63vU=/950x534/filters:quality(90)/https%3A%2F%2Fblueprint-api-production.s3.amazonaws.com%2Fuploads%2Fcard%2Fimage%2F735023%2Fa3073a1d-27c2-448a-9826-8d9c6b764746.jpg" class="center" /></a>
      <p>Click the image to check it out!</p>
      <p>Apply for this free summer camp to open your eyes to the world of coding! Learn valuble skills such as website and VR building, Ruby, Javascript, and team building through fun games and breaks!</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>Question of the Week</h2>
      <img src= "https://slack-imgs.com/?c=1&url=https%3A%2F%2Fi.pinimg.com%2F564x%2Fae%2Fe0%2F0e%2Faee00e63192b7ab18da692fa825f7448.jpg" height = "280" style = float />
      <p>Q: "How can women deal with being undermined and talked over by men?" <br>
      <br> A: "We as women have to stick together and support each other and show others that we value everyone's opinion, so if you see a woman in a similar situation, be sure to show her that her voice is being heard."
      
    </div>
    <div class="card">
      <h3>Immediate Help Lines</h3>
      <div class="fakeimg"><p>Substance abuse: 1-877-686-2152</p></div>
      <div class="fakeimg"><p>Suicide prevention: 1-800-273-8255</p></div>
      <div class="fakeimg"><p>Eating disorder: 1-800-931-2237</p></div>
    </div>
    <div class="card">
      <h3>Contact Us!</h3>
      <img src= https://slack-imgs.com/?c=1&url=https%3A%2F%2Fi.pinimg.com%2F564x%2Fa2%2F27%2F8e%2Fa2278e3319f6421926cca198b74e305c.jpg height = "230" style = float />
      <p>We want to hear from you! Send us your successes, your stories, and how you're making a place for yourself as a woman in society! <br>
      <br>fakeemail@fakemail.org</p>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Find us on</h2>
  <img src= "https://cdn.shopify.com/s/files/1/0362/1285/t/4/assets/Instagram-Icon-Circle_MYNC-Pink.gif?10194812392641643242" height = "50" style = float />
  <img src= "https://static.wixstatic.com/media/f2229e_3ae928e9162c47908b495ae900a2cdca~mv2.gif" height = "45" style = float />
  <img src= "http://www.hotpink.co.nz/wp-content/uploads/2013/06/twitter-3-128.png" height = "50" style = float />  
  
</div>

</body>
</html>



