
<html>
  <title>SocietyShe YOU</title>
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div class="header">
  <img src= "https://i.pinimg.com/564x/53/be/d7/53bed7fb798c4145870eb31cc50418a6.jpg
             " height = "300" style = float />
  <p><h4>A safe hub for women- about you, for you, and by you.</h4></p>
  <p><h2>You</h2></p>
</div>

<div class="topnav">
 <a href="/index" style="float:center">HOME</a>
 <a href="/you" style="float:center">YOU</a>
 <a href="/wellness" style="float:center">WELLNESS</a>
 <a href="/connect" style="float:center">CONNECT</a>
 <a href="/donate" style="float:center">DONATE</a>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Girls making a difference</h2>
      <h5>Putting an end to human trafficking</h5>
      <img src= "https://files.slack.com/files-pri/TB200QLDV-FBTDLD2GY/image_from_ios.jpg" style = float class="center"/>
      <p>We interviewed a KWK instructor about her accomplishments:</p>
      <p>Sarah (19) says "I reached out to NGOs at refugee camps in Calais,France to understand what problems could be solved using technology to design and develop a solutions in response to problems impacted by forced migration or human trafficking and built computer mediated communication technology to support the identification of victims of human trafficking."</p>
    </div>
    
  
    
    <div class="card">
      <h2>Girls making a difference</h2>
      <h5>Tackling nicotine addictions</h5>
      <img src= "https://files.slack.com/files-pri/TB200QLDV-FBU54EZNW/image_from_ios.jpg" height = "350" style = float class = center />
      <p>We talked to a KWK team about their project:</p>
      <p>Three girls are changing the way the world looks at how you can quit smoking. While at the Detroit Kode With Klossy summer camp Shreya, Lyla, and Merry decided to work together to create a website called TobacNo. This website works by allowing anyone hoping to quit smoking the opportunity to create an account that has tons of features including the ability to see how someones addiction is effecting their wallet.</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>Question of the Week</h2>
      <img src= "https://slack-imgs.com/?c=1&url=https%3A%2F%2Fi.pinimg.com%2F564x%2Fae%2Fe0%2F0e%2Faee00e63192b7ab18da692fa825f7448.jpg" height = "280" style = float />
      <p>Q: "How can women deal with being undermined and talked over by men?" <br>
      <br> A: "We as women have to stick together and support each other and show others that we value everyone's opinion, so if you see a woman in a similar situation, be sure to show her that her voice is being heard."
      
    </div>
    <div class="card">
      <h3>Immediate Help Lines</h3>
      <div class="fakeimg"><p>Substance abuse: 1-877-686-2152</p></div>
      <div class="fakeimg"><p>Suicide prevention: 1-800-273-8255</p></div>
      <div class="fakeimg"><p>Eating disorder: 1-800-931-2237</p></div>
    </div>
    <div class="card">
      <h3>Contact Us!</h3>
            <img src= https://slack-imgs.com/?c=1&url=https%3A%2F%2Fi.pinimg.com%2F564x%2Fa2%2F27%2F8e%2Fa2278e3319f6421926cca198b74e305c.jpg height = "230" style = float />
      <p>We want to hear from you! Send us your successes, your stories, and how you're making a place for yourself as a woman in society! <br>
      <br>fakeemail@fakemail.org</p>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Find us on</h2>
  <img src= "https://cdn.shopify.com/s/files/1/0362/1285/t/4/assets/Instagram-Icon-Circle_MYNC-Pink.gif?10194812392641643242" height = "50" style = float />
  <img src= "https://static.wixstatic.com/media/f2229e_3ae928e9162c47908b495ae900a2cdca~mv2.gif" height = "45" style = float />
  <img src= "http://www.hotpink.co.nz/wp-content/uploads/2013/06/twitter-3-128.png" height = "50" style = float />  
  
</div>

</body>
</html>



